[submodule "etc/vim/bundle/fugitive"]
	path = etc/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "etc/vim/bundle/command-t"]
	path = etc/vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "etc/vim/bundle/fuzzyfinder"]
	path = etc/vim/bundle/fuzzyfinder
	url = http://github.com/vim-bundles/fuzzyfinder.git
[submodule "etc/vim/bundle/nerdtree"]
	path = etc/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "etc/vim/bundle/nerdcommenter"]
	path = etc/vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "etc/vim/bundle/autocomplpop"]
	path = etc/vim/bundle/autocomplpop
	url = http://github.com/vim-scripts/AutoComplPop.git
[submodule "etc/vim/bundle/scala-vim-support"]
	path = etc/vim/bundle/scala-vim-support
	url = http://github.com/rosstimson/scala-vim-support.git
[submodule "etc/vim/bundle/vim-vividchalk"]
	path = etc/vim/bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "etc/vim/bundle/vim-surround"]
	path = etc/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "etc/vim/bundle/vim-repeat"]
	path = etc/vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "etc/vim/bundle/vim-markdown"]
	path = etc/vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bin/git-scripts"]
	path = bin/git-scripts
	url = git://github.com/jwiegley/git-scripts.git
[submodule "etc/vim/bundle/octave"]
	path = etc/vim/bundle/octave
	url = https://github.com/vim-scripts/octave.vim--.git
